In [1]:
import pandas as pd
import numpy as np
print(pd.__version__)

1.3.0

In [2]:
index = pd.MultiIndex.from_product([['item0', 'item1'], ['x', 'y', 'z']])
data = np.zeros((2, len(index)))

frame = pd.DataFrame(data, columns = index)
frame

  item0           item1
      x    y    z     x    y    z
0   0.0  0.0  0.0   0.0  0.0  0.0
1   0.0  0.0  0.0   0.0  0.0  0.0

In [3]:
frame.columns.levels[0]

Index(['item0', 'item1'], dtype='object')

In [4]:
cols_to_keep = ['item0']
frame2 = frame[cols_to_keep].copy()
frame2

  item0
      x    y    z
0   0.0  0.0  0.0
1   0.0  0.0  0.0

In [5]:
frame2.columns.levels[0]

Index(['item0', 'item1'], dtype='object')