In [1]:
import pickle
import numpy as np
from DLC_for_WBFM.utils.projects.finished_project_data import finished_project_data
import matplotlib.pyplot as plt

In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In C:\Users\charles.fieseler\Anaconda3\envs\DLC-for-WBFM\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [2]:
fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\project_config.yaml"
dat = finished_project_data.load_final_project_data_from_config(fname)

In [3]:
dat.red_traces['neuron3']['all_values']

0       [21, 22, 23, 24, 24, 22, 24, 22, 24, 25, 26, 2...
1       [30, 27, 28, 30, 28, 29, 28, 28, 29, 31, 31, 2...
2       [33, 31, 30, 30, 27, 32, 35, 30, 37, 42, 34, 3...
3       [36, 34, 32, 31, 32, 31, 29, 25, 37, 34, 35, 3...
4       [22, 26, 24, 22, 21, 27, 24, 26, 26, 25, 24, 2...
                              ...
1495    [19, 18, 18, 19, 20, 20, 19, 20, 20, 21, 19, 1...
1496    [19, 19, 17, 19, 20, 22, 22, 22, 22, 22, 19, 2...
1497    [19, 20, 20, 21, 21, 19, 18, 20, 22, 23, 23, 2...
1498                                                   []
1499    [21, 21, 19, 21, 21, 22, 23, 24, 22, 19, 21, 2...
Name: all_values, Length: 1500, dtype: object

In [4]:
dat.green_traces['neuron3']['all_values']

0       [15, 15, 16, 14, 16, 15, 15, 16, 16, 16, 17, 1...
1       [17, 16, 18, 18, 17, 16, 16, 17, 17, 17, 17, 1...
2       [17, 16, 16, 16, 16, 19, 20, 16, 15, 17, 16, 1...
3       [19, 17, 17, 16, 15, 15, 16, 18, 20, 19, 19, 1...
4       [16, 15, 15, 15, 16, 18, 15, 16, 16, 15, 14, 1...
                              ...
1495    [15, 16, 16, 15, 15, 16, 16, 15, 16, 15, 14, 1...
1496    [15, 16, 16, 15, 16, 16, 16, 16, 15, 14, 14, 1...
1497    [16, 15, 15, 15, 15, 15, 16, 16, 16, 15, 15, 1...
1498                                                   []
1499    [15, 15, 14, 15, 15, 15, 15, 15, 16, 14, 15, 1...
Name: all_values, Length: 1500, dtype: object

In [9]:
name = 'neuron3'
mode = 'integration'

yg = dat.calculate_traces('green', mode, name)
yr = dat.calculate_traces('red', mode, name)

%matplotlib widget
plt.plot(yg)
plt.plot(yr)

Calculating green trace for neuron3 for integration mode
Calculating red trace for neuron3 for integration mode

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [7]:
fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\all_matches.pickle"
with open(fname, 'rb') as f:
    dat = pickle.load(f)

In [54]:
import pandas as pd

fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\green_traces.h5"
green_traces = pd.read_hdf(fname)

fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\red_traces.h5"
red_traces = pd.read_hdf(fname)

In [55]:
all_names = list(green_traces.columns.levels[0])
for name in all_names:
    green_traces[(name, 'brightness')] = green_traces[(name, 'brightness')].replace(0.0, np.nan)
    red_traces[(name, 'brightness')] = red_traces[(name, 'brightness')].replace(0.0, np.nan)

In [59]:
import matplotlib.pyplot as plt
%matplotlib widget
name = 'neuron3'
dat = red_traces[name]['brightness']
plt.plot(dat)
dat = green_traces[name]['brightness']
plt.plot(dat)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [57]:
from ipywidgets import interact
neuron_names = list(red_traces.columns.levels[0])
%matplotlib widget

def f(name):
    plt.figure()
    x = red_traces[name]['x_dlc']
    y = green_traces[name]['y_dlc']
    plt.plot(x, y, 'o')

interact(f, name=neuron_names)

interactive(children=(Dropdown(description='name', options=('neuron1', 'neuron10', 'neuron11', 'neuron12', 'ne…

In [21]:
red_traces['neuron3']

,brightness,volume,all_values,i_reindexed_segmentation,z_dlc,x_dlc,y_dlc,match_confidence
0,58712.0,1160.0,"[21, 22, 23, 24, 24, 22, 24, 22, 24, 25, 26, 2...",3,4.327044,280.055031,418.396226,0.0
1,63423.0,1308.0,"[30, 27, 28, 30, 28, 29, 28, 28, 29, 31, 31, 2...",3,4.353191,262.079433,410.251064,0.0
2,61373.0,1224.0,"[33, 31, 30, 30, 27, 32, 35, 30, 37, 42, 34, 3...",3,4.394030,253.946269,406.305970,0.0
3,56099.0,1188.0,"[36, 34, 32, 31, 32, 31, 29, 25, 37, 34, 35, 3...",3,4.389213,237.998542,396.303207,0.0
4,56696.0,1138.0,"[22, 26, 24, 22, 21, 27, 24, 26, 26, 25, 24, 2...",3,4.407692,231.970769,402.347692,0.0
...,...,...,...,...,...,...,...,...
1495,37404.0,1029.0,"[19, 18, 18, 19, 20, 20, 19, 20, 20, 21, 19, 1...",3,4.281346,229.665138,374.247706,0.0
1496,46040.0,1395.0,"[19, 19, 17, 19, 20, 22, 22, 22, 22, 22, 19, 2...",3,4.374443,241.895988,364.285290,0.0
1497,44763.0,1338.0,"[19, 20, 20, 21, 21, 19, 18, 20, 22, 23, 23, 2...",3,4.429825,253.976608,366.340643,0.0
1498,NaN,NaN,[],3,7.000000,NaN,NaN,0.0
1499,45192.0,1282.0,"[21, 21, 19, 21, 21, 22, 23, 24, 22, 19, 21, 2...",3,7.000000,266.256577,364.578934,0.0

In [12]:
green_traces['neuron1']

,brightness,volume,all_values,i_reindexed_segmentation,z_dlc,x_dlc,y_dlc,match_confidence
0,14082.0,905.0,"[16, 14, 15, 15, 15, 14, 15, 15, 15, 14, 14, 1...",1,8.446753,275.957143,498.350649,0.0
1,14259.0,932.0,"[14, 16, 15, 14, 14, 14, 15, 15, 15, 15, 15, 1...",1,8.444737,289.947368,484.360526,0.0
2,12530.0,806.0,"[15, 14, 14, 15, 15, 15, 15, 15, 14, 14, 15, 1...",1,6.431944,283.933333,480.381944,0.0
3,13935.0,904.0,"[15, 15, 15, 15, 15, 15, 14, 14, 15, 15, 15, 1...",1,8.410738,267.971812,472.357047,0.0
4,12023.0,779.0,"[15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 1...",1,8.450135,247.900270,486.397574,0.0
...,...,...,...,...,...,...,...,...
1495,8163.0,537.0,"[15, 15, 15, 15, 15, 15, 14, 15, 15, 14, 14, 1...",1,9.000000,186.365255,310.213247,0.0
1496,8809.0,579.0,"[14, 15, 14, 15, 14, 15, 15, 15, 15, 15, 15, 1...",1,9.000000,208.934059,293.140793,0.0
1497,9011.0,596.0,"[15, 15, 14, 14, 15, 15, 15, 15, 15, 14, 14, 1...",1,9.000000,229.097054,291.674042,0.0
1498,NaN,NaN,[],1,9.000000,NaN,NaN,0.0
1499,9890.0,654.0,"[15, 15, 15, 14, 14, 14, 15, 14, 14, 15, 15, 1...",1,9.000000,236.807693,286.846710,0.0

In [5]:

# fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\green_traces.h5"
# green_traces.to_hdf(fname, 'df_with_missing')

# fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\red_traces.h5"
# red_traces.to_hdf(fname, 'df_with_missing')

In [41]:
np.mean(green_traces['neuron1'].loc[0,'all_values']), np.mean(green_traces['neuron1'].loc[1,'all_values'])

(17.5646408839779, 14.67167381974249)

In [36]:
np.mean(green_traces['neuron0'].loc[0,'all_values']), np.mean(green_traces['neuron0'].loc[1,'all_values'])

(17.5646408839779, 14.67167381974249)

In [42]:
len(green_traces['neuron1'].loc[0,'all_values']), len(green_traces['neuron1'].loc[1,'all_values'])

(905, 932)

In [43]:
green_traces['neuron1'].loc[0,'volume'], green_traces['neuron1'].loc[1,'volume']

(905.0, 932.0)

In [20]:
fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\3-tracking\postprocessing\combined_3d_tracks.h5"
df = pd.read_hdf(fname)

In [21]:
all_neuron_names = list(df.columns.levels[0])
new_neuron_names = {name:f'neuron{i+1}' for i, name in enumerate(all_neuron_names)}

In [22]:
df.rename(columns=new_neuron_names, inplace=True)
df

       neuron1                                       neuron2              \
             z           x           y likelihood          z           x
0     8.446753  498.350649  275.957143   1.000000  16.000000         NaN
1     8.444737  484.360526  289.947368   1.000000  16.000000         NaN
2     6.431944  480.381944  283.933333   1.000000  16.000000         NaN
3     8.410738  472.357047  267.971812   1.000000  16.000000         NaN
4     8.450135  486.397574  247.900270   1.000000  16.000000         NaN
...        ...         ...         ...        ...        ...         ...
1495  9.000000  310.213247  186.365255   0.718304  14.408560  288.334630
1496  9.000000  293.140793  208.934059   0.536002  14.415716  276.310520
1497  9.000000  291.674042  229.097054   0.762107  14.400485  276.184466
1498  9.000000         NaN         NaN        NaN  16.000000  276.371101
1499  9.000000  286.846710  236.807693   0.435736  16.000000  270.329163

                               neuron3              ...    neuron72  \
               y likelihood          z           x  ...           y
0            NaN        NaN  12.417526  408.305412  ...  271.956798
1            NaN        NaN  12.387054  394.272127  ...  226.173913
2            NaN        NaN  12.773228  396.313386  ...  231.910209
3            NaN        NaN  12.391304  388.272379  ...  256.312024
4            NaN        NaN  12.419562  386.323037  ...  334.407240
...          ...        ...        ...         ...  ...         ...
1495  213.957198   1.000000  15.000000  396.490784  ...  341.573401
1496  239.956907   1.000000  15.000000  388.118805  ...         NaN
1497  259.979369   1.000000  15.000000  401.882416  ...  245.153366
1498  269.122490   0.749943  15.000000  401.865570  ...  213.025027
1499  264.846802   0.408717  15.000000  387.199478  ...  203.983475

                  neuron73                                      neuron74  \
     likelihood          z           x           y likelihood          z
0      1.000000  21.000000         NaN         NaN        NaN  18.000000
1      1.000000  21.000000         NaN         NaN        NaN  18.000000
2      1.000000  21.000000  767.385193  107.917740   0.570298  18.000000
3      1.000000  21.000000         NaN         NaN        NaN  18.000000
4      1.000000  21.000000  524.624390  212.024414   0.415886  18.000000
...         ...        ...         ...         ...        ...        ...
1495   0.634361  20.430968  276.304516  220.027097   1.000000  16.411097
1496        NaN  20.422194  266.312500  247.980867   1.000000  16.393862
1497   0.601713  18.423729  266.360169  267.956215   1.000000  16.335099
1498   0.627490  21.000000         NaN         NaN        NaN  18.000000
1499   0.666500  21.000000  267.409302  273.584900   0.617089  18.000000


               x           y likelihood
0     413.120300  317.544464   0.403798
1            NaN         NaN        NaN
2     396.202118  294.027313   0.454399
3            NaN         NaN        NaN
4            NaN         NaN        NaN
...          ...         ...        ...
1495  408.271122  207.943253   1.000000
1496  398.327366  211.953964   1.000000
1497  396.348344  219.990728   1.000000
1498         NaN         NaN        NaN
1499  387.699972  227.496496   0.600636

[1500 rows x 296 columns]

In [23]:
df.to_hdf(fname, 'df_with_missing')

In [3]:
np.quantile(np.arange(10), 0.9)

8.1

In [4]:
import os

In [9]:
val = "C:/what"
val is os.PathLike, val is str

(False, False)

In [10]:
type(val)==str

True

In [1]:
import importlib
import json
import DLC_for_WBFM.utils.projects.monkeypatch_json
from DLC_for_WBFM.utils.projects.utils_filepaths import modular_project_config

In [2]:
d = modular_project_config("C:/dlc_stacks/Charlie-gfp-long/project_config.yaml")
json.dumps(d)

'"{\\"project_path\\": \\"C:/dlc_stacks/Charlie-gfp-long/project_config.yaml\\", \\"config\\": {\\"task_name\\": \\"test\\", \\"experimenter\\": \\"Charlie\\", \\"project_dir\\": \\"Y:/shared_projects/wbfm/dlc_stacks\\", \\"project_path\\": null, \\"red_bigtiff_fname\\": \\"Y:\\\\\\\\shared_projects\\\\\\\\wbfm\\\\\\\\dat\\\\\\\\ZIM2278_GFP_Control\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low-channel-0-pco_camera1\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low-channel-0-pco_camera1bigtiff.btf\\", \\"green_bigtiff_fname\\": \\"Y:\\\\\\\\shared_projects\\\\\\\\wbfm\\\\\\\\dat\\\\\\\\ZIM2278_GFP_Control\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low-channel-1-pco_camera2\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low-channel-1-pco_camera2bigtiff.btf\\", \\"preprocessing_config\\": \\"preprocessing_config.yaml\\", \\"preprocessed_red\\": \\"D:\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low\\\\\\\\2021-03-04_14-53-15_worm2_ZIM2278_low-channel-0-pco_camera1\\\\\\\\gfp_red.zarr\\", \\"preprocessed_green\\": null, \\"dataset_params\\": {\\"start_volume\\": 0, \\"num_frames\\": 3000, \\"fps\\": 5.0, \\"num_slices\\": 32, \\"z_to_xy_ratio\\": 3.0, \\"red_and_green_mirrored\\": true}, \\"subfolder_configs\\": {\\"segmentation\\": \\"1-segmentation/segment_config.yaml\\", \\"training_data\\": \\"2-training_data/training_data_config.yaml\\", \\"tracking\\": \\"3-tracking/tracking_config.yaml\\", \\"traces\\": \\"4-traces/traces_config.yaml\\"}, \\"current_status\\": {\\"segmentation\\": false, \\"training_data_3d\\": false, \\"training_data_2d\\": false, \\"dlc_networks\\": false, \\"traces\\": false}, \\"other\\": {\\"verbose\\": 2, \\"DEBUG\\": false}, \\"seed\\": 389942254}}"'

In [47]:
import pandas as pd
from tqdm.auto import tqdm

fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\green_traces.h5"
green_traces = pd.read_hdf(fname)

fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\red_traces.h5"
red_traces = pd.read_hdf(fname)

dlc_fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\3-tracking\postprocessing\combined_3d_tracks.h5"
dlc_tracks = pd.read_hdf(dlc_fname)

In [48]:
dlc_tracks

       neuron1                                       neuron2              \
             z           x           y likelihood          z           x
0     8.446753  498.350649  275.957143   1.000000  16.000000         NaN
1     8.444737  484.360526  289.947368   1.000000  16.000000         NaN
2     6.431944  480.381944  283.933333   1.000000  16.000000         NaN
3     8.410738  472.357047  267.971812   1.000000  16.000000         NaN
4     8.450135  486.397574  247.900270   1.000000  16.000000         NaN
...        ...         ...         ...        ...        ...         ...
1495  9.000000  310.213247  186.365255   0.718304  14.408560  288.334630
1496  9.000000  293.140793  208.934059   0.536002  14.415716  276.310520
1497  9.000000  291.674042  229.097054   0.762107  14.400485  276.184466
1498  9.000000         NaN         NaN        NaN  16.000000  276.371101
1499  9.000000  286.846710  236.807693   0.435736  16.000000  270.329163

                               neuron3              ...    neuron72  \
               y likelihood          z           x  ...           y
0            NaN        NaN  12.417526  408.305412  ...  271.956798
1            NaN        NaN  12.387054  394.272127  ...  226.173913
2            NaN        NaN  12.773228  396.313386  ...  231.910209
3            NaN        NaN  12.391304  388.272379  ...  256.312024
4            NaN        NaN  12.419562  386.323037  ...  334.407240
...          ...        ...        ...         ...  ...         ...
1495  213.957198   1.000000  15.000000  396.490784  ...  341.573401
1496  239.956907   1.000000  15.000000  388.118805  ...         NaN
1497  259.979369   1.000000  15.000000  401.882416  ...  245.153366
1498  269.122490   0.749943  15.000000  401.865570  ...  213.025027
1499  264.846802   0.408717  15.000000  387.199478  ...  203.983475

                  neuron73                                      neuron74  \
     likelihood          z           x           y likelihood          z
0      1.000000  21.000000         NaN         NaN        NaN  18.000000
1      1.000000  21.000000         NaN         NaN        NaN  18.000000
2      1.000000  21.000000  767.385193  107.917740   0.570298  18.000000
3      1.000000  21.000000         NaN         NaN        NaN  18.000000
4      1.000000  21.000000  524.624390  212.024414   0.415886  18.000000
...         ...        ...         ...         ...        ...        ...
1495   0.634361  20.430968  276.304516  220.027097   1.000000  16.411097
1496        NaN  20.422194  266.312500  247.980867   1.000000  16.393862
1497   0.601713  18.423729  266.360169  267.956215   1.000000  16.335099
1498   0.627490  21.000000         NaN         NaN        NaN  18.000000
1499   0.666500  21.000000  267.409302  273.584900   0.617089  18.000000


               x           y likelihood
0     413.120300  317.544464   0.403798
1            NaN         NaN        NaN
2     396.202118  294.027313   0.454399
3            NaN         NaN        NaN
4            NaN         NaN        NaN
...          ...         ...        ...
1495  408.271122  207.943253   1.000000
1496  398.327366  211.953964   1.000000
1497  396.348344  219.990728   1.000000
1498         NaN         NaN        NaN
1499  387.699972  227.496496   0.600636

[1500 rows x 296 columns]

In [50]:
# Correct mismatches in DLC-segmentation

old_dlc_names = list(dlc_tracks.columns.levels[0])
new_neuron_names = [f"neuron{i + 1}" for i in range(len(old_dlc_names))]
dlc_name_mapping = dict(zip(new_neuron_names, old_dlc_names))

def _get_dlc_zxy_one_neuron_all_t(new_name):
    old_name = dlc_name_mapping[new_name]
    coords = ['z', 'y', 'x']
    all_dlc_zxy = np.asarray(dlc_tracks[old_name][coords])
    return all_dlc_zxy

In [51]:
for name in tqdm(new_neuron_names):
    zxy = _get_dlc_zxy_one_neuron_all_t(name)
    
    red_traces[(name, 'z_dlc')] = zxy[:,0]
    red_traces[(name, 'x_dlc')] = zxy[:,1]
    red_traces[(name, 'y_dlc')] = zxy[:,2]
    
    green_traces[(name, 'z_dlc')] = zxy[:,0]
    green_traces[(name, 'x_dlc')] = zxy[:,1]
    green_traces[(name, 'y_dlc')] = zxy[:,2]

  0%|          | 0/74 [00:00<?, ?it/s]

In [10]:

# fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\green_traces.h5"
# green_traces.to_hdf(fname, 'df_with_missing')

# fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\4-traces\red_traces.h5"
# red_traces.to_hdf(fname, 'df_with_missing')

In [43]:
# Do training data frame selection from DLC style dataframe
import pandas as pd
import numpy as np
from tqdm.auto import tqdm

fname = r"C:\dlc_stacks\Charlie-worm3-new-seg\2-training_data\all_tracklets.h5"
df = pd.read_hdf(fname)

num_frames = 30

In [46]:
# Roll across windows and check how many columns do not have nan

sz = df.shape
# Only need one column from each neuron
missing_vals = np.isnan(df.values)[:, range(0, sz[1], 4)]

num_missing_per_window = {}
for i in tqdm(range(sz[0] - num_frames)):
    start, stop = i, i + num_frames + 1
    # def check_any_nan_in_column(col):
    #     return any(col)

    have_missing = np.apply_along_axis(any, 0, missing_vals[start:stop, :])
    num_missing_per_window[(start, stop)] = sum(~have_missing)

  0%|          | 0/1468 [00:00<?, ?it/s]

In [50]:
np.argmax(np.array(list(num_missing_per_window.values())))

527

In [54]:
stop

1498

In [53]:
sz

(1498, 22200)